/* CSS Reset styles for all browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     color: black;
 }

 header {
 	background-image: url(../img/official_header.jpg);
 	background-size: cover;
 	height: 300px;
 	width: 100%;
 	margin: 0 auto;
 }

 .top-nav {
 	background-color: #FAFAFA;
 	height: 30px;
 	width: 100%;
 	box-shadow: 0 0 4px 2px #15151E;
 }

nav li {
 	display: inline;
 	list-style-type: none;
 	border-right: 1px solid white;
 	padding: 10px;
 	text-align: center;
 }

aside {
	background-color: blue;
	width: 20%;
	height: 200px;
	top: 100px;
	right: 0px;
	position: fixed;
}

.social-links li {
	list-style-type: none;
}

#watch {
	width: 100%;
	height: 1200px;
	background-color: #cef;
}

#listen {
	width: 100%;
	height: 1200px;
	background-color: gray;
}

#about {
	width: 100%;
	height: 1200px;
	background-color: orange;
}

footer {
	width: 100%;
	height: 20px;
}
