/* CSS Reset styles for all browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     color: #FDD0BD;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
     font-size: 24px;
 }
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #EA2975;
    text-shadow: 2px 2px 6px rgb(246, 41, 122);
}

/* selected link */
a:active {
    color: #1B8CEA;
}

h2 {
	font-family: 'Chelsea Market', serif;
	font-size: 300%;
}

h3 {
	font-family: 'Josefin Sans';
	font-weight: 600;
	font-size: 40px;
}

 header {
 	background-image: url(../img/monkaa_title.jpg);
 	background-position: center;
 	background-size: cover;
 	height: 400px;
 	width: 100%;
 	margin: 0 auto;
 }

 .top-nav {
 	background-color: #FDD0BD;
 	top: 300px;
 	height: 30px;
 	width: 100%;
 	box-shadow: 0 0 2px 2px #E5AD9E;
 	text-align: center;
 }

nav li {
 	display: inline;
 	list-style-type: none;
 	padding: 30px;
 }

aside:hover {
	background-color: rgb(83, 83, 101);
	width: 20%;
	height: 230px;
	top: 300px;
	right: 0px;
	position: fixed;
	text-align: center;
	color: white;
	border: 2px dotted #E5AD9E;
	transform: rotate(90deg);
	transform-origin: left top 0;
}

aside {
	background-color: rgba(83, 101, 101, 0.5);
	width: 2%;
	height: 230px;
	top: 300px;
	right: 0px;
	position: fixed;
	color: white;
	transition: 1s width;
}


#social h2 {
	transition: 1s transform;
	transform: rotate(90deg);
	transform-origin: left top 0;
	font-family: 'Chelsea Market';
	font-size: 120%;
}

.social-links li {
	list-style-type: none;
}

#watch {
	border-top: 2px solid #1776C5;
	padding-top: 40px;
	width: 100%;
	height: 1200px;
	background-color: #1B8CEA;
	text-align: center;
}

video {
	padding: 40px;
}

.download-button {
    background-color: #FDD0BD; /* Monkey Face Pink */
    border: 2px dotted #E5AD9E;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#listen {
	border-top: 2px solid #BB5A80;
	padding-top: 40px;
	width: 100%;
	height: 1200px;
	background-color: #CE638D;
	text-align: center;
}

audio {
	padding: 40px;
}

#about {
	border-top: 2px solid #27924E;
	padding-top: 40px;
	width: 100%;
	height: 1200px;
	background-color: #2FB05E;
}

#about h2 {
	text-align: center;
}

.weybec-people {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.weybec-people li {
	list-style-type: none;
}

.headshot {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px dotted #E5AD9E;
}

footer {
	border-top: 1px 1px solid black;
	padding-top: 20px;
	width: 100%;
	height: 100px;
	background-color: #536565;
	color: #FDD0BD;
}

footer p {
	font-size: 14px;
}

.main-nav {
	padding-top: 30px;
}